{% extends "common/base_intranet.html" %}


{% block main_content %}
<div class="container">
    <h1>Lista de resultados de aprendizaje</h1>
    <ul class="list-group mt-3 ">
    {% for ra in object_list %}
        <a href="{% url 'ra_detail' ra.id %}" class="list-group-item list-group-item-action">{{ ra }}</a>
    {% empty %}
        <p>No existen resultados de aprendizaje.</p>
    {% endfor %}
    </ul>
</div>

<!--  # UD6.8.b Incorporo en la web los botones para moverse adelante y atras entre las paginaciones. -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock main_content %}